matplotlib==3.6.2
numpy==1.24.1
pandas==1.5.2
Pillow==9.4.0
plotly==5.11.0
scikit_learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
SQLAlchemy==1.4.46
stqdm==0.0.5
streamlit==1.16.0
tqdm==4.64.1
